*{
    border: 10px;
    border-color: red;
}


body{
	padding-top:95px;	
}
textarea {
    resize: none;
}
.bgPadding{
    padding: 10px 10px 10px 20px;
	font-size:18px;
}
.assinatura{
	font-family:arial;
	font-size:12px;
	font-weight:600;	
	color:#06C;
	margin: 5px 5px -10px 0px;	
}
.indexNavBar{
	padding-bottom:95px;	
}
.indexTitulo{
	padding-top:70px;	
}
th, td{
	font-size:12px;	
}
.menuModal{
    font-size: 11px;
    font-family: inherit;
    color: #777;
    font-weight: 700;
    margin-top: -15px;
}
footer{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
    line-height: 60px;
    margin-top: 30px;
    background-color: #f5f5f5;
    font-size: 11px;
    color: dimgray;
    text-align: center;
    font-family: cursive;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
    margin-bottom: 1px;
}
html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 70px; /* altura do seu footer */
}
.resposta{
    padding: 10px;
    background-color: #c4f1db;
    color: #69906c;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    font-family: arial;
    border-radius: 8px;
    
}
.msgResp{
    padding: 8px;
    border-radius: 8px;
}